(
    spritesheet_width: 32,
    spritesheet_height: 32,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 16,
            height: 9,
        ),
        (
            x: 16,
            y: 0,
            width: 16,
            height: 9,
        ),
        (
            x: 0,
            y: 9,
            width: 15,
            height: 10,
        ),
        (
            x: 16,
            y: 9,
            width: 15,
            height: 10,
        ),
    ],
)